@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general shit */

body {
    background-color: #1e1e1e;
    margin: 0;
}

.container {
    max-width: 375px;
    display: block;
    align-items: center;
    margin: 0 24px;
}

.system {
    max-width: 375px;
    display: block;
    align-items: center;
    margin: auto;
}

.ios {
    max-width: 375px;
}


/* fonts */

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    color: #ffffff;

}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    color: #ffffff;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin: 0;
}

/* button */

.buttons {
    position: absolute;
    bottom: 0;
    width: 100%;

    /*flex-direction: column;*/
}

.buttons p {
    font-weight: 500;
}

.button-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: #697EF5;
    margin: 0 16px 16px;
}

.button-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: #ffffff;
    margin: 0 16px 16px;
}

.button-second p {
    color: #000;
}

/* Index */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
}

.onboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}