@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general shit */

body {
    background-color: #1e1e1e;
}

.container {
    max-width: 375px;
    display: block;
    align-items: center;
    margin: auto;
}

.system {
    max-width: 375px;
    display: block;
    align-items: center;
    margin: auto;
}

.ios {
    max-width: 375px;
}